* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.myNav {
    background-color: rgb(28, 99, 149);
}

.myNav a{
    color: white;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}



.formContainer {
    padding-top: 80px;
    width: 30%;
    margin: auto;
}

.formContainer h1 {
    margin-bottom: 20px;
    font-size: 50px;
    color: blue;
}

/* form {

} */

form label {
    display: block;
    margin-bottom: 20px;
    font-size: 25px;
}

form .logo {
    width: 40px;
    height: 40px;
    margin-left: 30px;
    margin-bottom: 20px;
}

form .flex {
    display: flex;
    align-items: center;
}

form input,
form select {
    width: 50%;
    padding: 8px;
    margin-bottom: 20px;
}

form button {
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    margin-left: 20px;
    color: white;
    padding: 10px;
    font-size: 20px;
}

.addPokemonBtn {
    background-color: rgb(21, 152, 21);
}

.pokemonContainer {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.pokemon {
    max-width: 350px;
    margin: 30px;
    position: relative;
}

.pokemon::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.21);
    padding: 15px;
    left: -2px;
    top: -2px;
    z-index: -1;
}

.pokemon h2 {
    font-size: 30px;
    margin-top: 5px;
    font-weight: bolder;

}

.pokemon h3 {
    font-size: 20px;
    margin-top: 15px;
    font-weight: bolder;

}
.pokemon p {
    font-size: 18px;
    margin-top: 15px;
    font-weight: bolder;
}

.pokemon a {
    z-index: 2;
}

.eau,
.water {
    background-image: url(/public/img/eauBg.jpg);
    padding: 15px;
    border-radius: 5px;
}

.feu,
.fire {
    background-image: url(/public/img/fireBg.jpg);
    padding: 15px;
    border-radius: 5px;
}

.electric,
.electrique {
    background-image: url(/public/img/electricBg.jpg);
    padding: 15px;
    border-radius: 5px;
}

.plante,
.plant {
    background-image: url(/public/img/planteBg.jpg);
    padding: 15px;
    border-radius: 5px;
}

.poison {
    background-image: url(/public/img/poisonBg.jpg);
    padding: 15px;
    border-radius: 5px;
}

.glace {
    background-image: url(/public/img/glaceBg.jpg);
    padding: 15px;
    border-radius: 5px;
}

.insect,
.insecte {
    background-image: url(/public/img/insectBg.webp);
    padding: 15px;
    border-radius: 5px;
}

.sol,
.sole {
    background-image: url(/public/img/solBg.jpg);
    padding: 15px;
    border-radius: 5px;
}

.psy {
    background-image: url(/public/img/psyBg.jpg);
    padding: 15px;
    border-radius: 5px;
    background-position: center;
    color: white;
}

.fee,
.fée,
.fairy {
    background-image: url(/public/img/feeBg.jpg);
    padding: 15px;
    border-radius: 5px;
}

.dragon {
    background-image: url(/public/img/dragonBg.jpg);
    padding: 15px;
    border-radius: 5px;
    /* color: white; */
}

.showMore {
    text-decoration: none;
    background-color: green;
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.updateBtn {
    text-decoration: none;
    background-color: rgb(185, 40, 187);
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}